body {
    text-align: center;
    background-color: rgb(71, 0, 0);
    color: #8a8a8a;
}
  
h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #8a8a8a;
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
}

footer {
    font-size: 12px;
    font-weight: bold;
}
 