body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
  }

  header {
    background-color: rgb(105, 0, 0);
    color: rgb(0,0,0);
    padding: 10px;
    margin-bottom: 20px;
  }

  header h1 {
    color: white;
    font-weight: 10;
    font-size: 50px;
  }

  header h2 {
    color: white;
    font-size: 40px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 50px;
  }
 
  section {
    border-radius: 30px;
    display: block;
    border: 1px solid rgb(105,0,0);
    background-color: rgb(144, 203, 240);
    text-align: left;
    margin: 0 auto;
  }

  .flex-item {
    margin: 10px;
  }

  h3 {
    border-radius: 30px;
    font-size: 20px;
    color: white;
    background-color: rgb(105, 0, 0);
    padding: 10px;
    margin: 0;
    text-decoration-line:;
  }

  h4 {
    font-size: 18px;
    color:rgb(0, 20, 58);
    padding: 10px;
    margin: 0;
  }

  section a {
    color: rgb(55, 122, 248);
    text-decoration: none;
    padding: 10px;
  }

  section p {
    padding: 10px;
    margin: 10px;
    margin-bottom: 15px;
    color:rgb(0, 20, 58);
  }

  section img {
    display: block;
    max-width: 90%;
    border: 2px solid rgb(246, 246, 246);
    border-radius: 20px;
    border: 1px solid rgb(105,0,0);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    background-color: rgb(105, 0, 0);
    color: white;
    padding: 20px;
    margin-top: 20px;
  }