body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    border: solid rgb(182, 182, 182);
}

.header_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

header {
    position: relative;
    background-color: rgb(0, 10, 54);
    width: 100%;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 30px #333;
}

#banner {
    display: none;
    background-color: yellow;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#right-side .social {
    display: flex;
}

#right-side .social img {
    width: 50px;
    padding: 10px;
}

#left-side {
    display: flex;
    justify-content: left;
    align-items: center;
}

#left-side .logo img {
    width: 120px;
    padding-left: 20px;
    padding-right: 30px;

}

#left-side h1 {
    font-size: 48px;
    padding-left: 5px;
    color: white;
}

#middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-side {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
}

nav {
    background-color: rgb(0, 10, 54);
    text-align: center;	
    display: flex;
    align-items: center;
}

nav a {
    display: flex;
    color: rgb(182, 182, 182);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 40px;

}

nav a:hover {
    background-color: rgb(182, 182, 182);
    color: yellow;
}

 /* #hamburgerButton {
    display: none;
}
*/

time, aside {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0.75rem 1rem;
    background-color: #eee;
}

.date{
    position: absolute;
    bottom: 0;
    width: 100%;
}

ul  {
    padding-left: 0;
}
ul li {
    list-style-position: inside;
}

#spotlights section {
    border: 1px solid #ffd26f;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper section {
    border: 1px solid #000;
    border-radius: 5%; 
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(182, 182, 182);
}

#hero {
    grid-column: 2 / 4;
    grid-row: 1 / 5;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/stgeorge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-img {
    text-align: center;
    position: absolute;
    width: 100%;
    color: white;
    height: auto;
}
    

#event {
    grid-column: 1;
    grid-row: 1 / 3;
    align-items: center;
    line-height: normal;
    font-size: 20px;
}

#weather {
    grid-column: 1;
    grid-row: 3 / 5;
    font-size: 20px;
}

#weather .weather-content img {
    width: 120px;
    border-radius: 5%;
    background-color: rgb(0, 10, 54);
    margin-top: 10px;

}

#news {
    grid-column: 2 / 4;
    grid-row: 5 / 7;
    font-size: 30px;
}

#news .news-content p {
    font-size: 20px;
}

#join {
    grid-column: 1;
    grid-row: 5 / 7;
}

#join .join-content p {
    font-size: 20px;

}

#join .join-content button {
    font-size: 30px;
    color: #ffd26f;
    background-color: rgb(0, 10, 54);
}

#join .join-content button:hover {
    background-color: rgb(182, 182, 182);
}

#spotlights {
    grid-column: 4;
    grid-row: 1 / 7;
    align-items: center;
    font-size: 20px;
}

#spotlights .spot1-content img {
    width: 120px;
}

#spotlights .spot2-content img {
    width: 120px;
    height: fit-content;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

.gallery {
    position: relative;
    overflow: hidden;
    border-radius: 5%;
    background-color: rgb(182, 182, 182);
    
}

.gallery img {
    filter: blur(20px);
    transition: filter 0.5s ease;
    padding-top: 20px;
    
}

.gallery img.loaded {
    filter: blur(0);
}
  
.demograph {
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    background-color: rgb(182, 182, 182);
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(0, 10, 54);
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(182, 182, 182);
}

.business-card {
    display: inline-block;
    width: 300px;
    padding: 10px;
    border: 1px solid yellow;
    border-radius: 5%;
    margin: 10px;
    background-color: rgb(182, 182, 182);
}

.business-card img {
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.business-card h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.business-card p {
    margin: 5px 0;
}

.business-list {
    list-style-type: none;
    padding: 0;
}

.business-list li {
    margin-bottom: 10px;
}

.business-list li strong {
    font-weight: bold;
}

footer {
    background-color: rgb(0, 10, 54);
    color: white;
    padding: 20px;
    margin-top: 20px;
}

footer .top-footer img {
    width: 200px;
    padding-right: 30px;
}

footer .top-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 42px;
}

