body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    border: solid rgb(182, 182, 182);
}

.header_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

header {
    position: relative;
    background-color: rgb(0, 10, 54);
    width: 100%;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 30px #333;
}

#right-side .social {
    display: flex;
}

#right-side .social img {
    width: 50px;
    padding: 10px;
}

#left-side {
    display: flex;
    justify-content: left;
    align-items: center;
}

#left-side .logo img {
    width: 120px;
    padding-left: 20px;
    padding-right: 30px;

}

#left-side h1 {
    font-size: 48px;
    padding-left: 5px;
    color: white;
}

#middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-side {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
}

nav {
    background-color: rgb(0, 10, 54);
    text-align: center;	
    display: flex;
    align-items: center;
}

nav a {
    display: flex;
    color: rgb(182, 182, 182);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 40px;

}


nav a:hover {
    background-color: rgb(182, 182, 182);
    color: yellow;
}

  
 /* #hamburgerButton {
    display: none;
}
*/

time, aside {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0.75rem 1rem;
    background-color: #eee;
}

.date{
    position: absolute;
    bottom: 0;
    width: 100%;
}

ul  {
    padding-left: 0;
}
ul li {
    list-style-position: inside;
}

#spotlights section {
    height: 37%;
    border: 1px solid #ffd26f;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper section {
    border: 1px solid #000;
    border-radius: 5%; 
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(182, 182, 182);
}

#hero {
    grid-column: 2 / 4;
    grid-row: 1 / 5;
}

#event {
    grid-column: 1;
    grid-row: 1 / 3;
}

#weather {
    grid-column: 1;
    grid-row: 3 / 5;
}

#news {
    grid-column: 2 / 4;
    grid-row: 5 / 7;
}

#join {
    grid-column: 1;
    grid-row: 5 / 7;
}

#spotlights {
    grid-column: 4;
    grid-row: 1 / 7;
    align-items: center;
}


footer {
    background-color: rgb(0, 10, 54);
    color: white;
    padding: 20px;
    margin-top: 20px;
}

footer .top-footer img {
    width: 200px;
    padding-right: 30px;
}

footer .top-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 42px;
}

