@media screen and (max-width: 1200px) {
   
    #left-side h1 {
        font-size: 36px;

    }
    
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    #hero {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
    }

    #event {
        grid-column: 1 / 3 ;
        grid-row: 9 / 11;
    }

    #weather {
        grid-column: 3;
        grid-row: 9 / 11;
    }

    #news {
        grid-column: 1 / 4;
        grid-row: 3 / 5;
    }

    #join {
        grid-column: 1 / 4;
        grid-row: 7 / 9;
    }

    #spotlights {
        grid-column: 1 / 4;
        grid-row: 5 / 7;
        align-items: center;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }

    footer .top-footer img {
        width: 125px;
    }

    footer .top-footer {
        font-size: 24px;
    }
    #navigation-links {
        display: none;
      }
      
      #navigation-links.show-menu {
        display: block;
      }
      
      #menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
      }
      
      #menu-toggle .bar {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 4px;
        transition: background-color 0.3s ease-in-out;
      }
      
      #menu-toggle.active .bar {
        background-color: white;
      }
      
      
}